<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YESPOT!</title>
    <link rel="stylesheet" href="../css/firstpage.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="header">
                <div class="header-l">
                    <p class="yespot1">YESPOT!</p>
                    <div class="miniheader">
                        <div class="home">
                            
                            <img src="../images/ic_round-home.svg" class="icon" alt="홈 아이콘">
                            
                            <div class="home-textout">
                                <p class="home-text">홈</p>
                            </div>
                            
                        </div>
                        <p class="group">내 모임</p>
                    </div>
                </div>
                
                <div class="header-r">
                    <img src="../images/ix_alarm-bell.svg" class="bell" alt="벨 아이콘">
                    <div class="login">
                        <img src="../images/bi_people-circle.svg" class="people" alt="사람 아이콘">
                        <div class="login-ch">
                            <p class="login-text">로그인</p>
                            <img src="../images/lucide_chevron-down.svg" class="chevron" alt="화살표 아이콘">
                        </div>
                </div>
                </div>
            </div>
            <div class="groupmaking">
                <div class="content">
                    <div class="maintext">
                        <div class="frame15">
                            <div class="frame5">
                                <p class="yespot2">YESPOT!</p>
                            </div>
                            <div class="frame3">
                                <p class="choice">모임 장소를<br>고르셔야 하나요?</p>
                            </div>
                            
                        </div>
                        <div class="frame4">
                            <p class="subtext">AI가 여러분의 취향을 분석해서<br>모두가 만족할 최고의 장소를 찾아드릴게요!</p>
                        </div>
                        
                    </div>
                    <img src="../images/image 4.png" class="image4" alt="사람 이미지">
<!-- #### 버튼 여기 있어요 #### -->
                </div> 
                <a href="../templates/secondpage_edit.html" class="button">
                    <p class="but-text">그룹 만들기</p>
                </a>
            </div>
            
        </div>
    
    </main>
</body>
</html>
