<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YESPOT!</title>
    <link rel="stylesheet" href="../css/secondpage_edit.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="header">
                <div class="header-l">
                    <p class="yespot1">YESPOT!</p>
                    <div class="miniheader">
                        <div class="home">
                            
                            <img src="../images/ic_round-home.svg" class="icon" alt="홈 아이콘">
                            
                            <div class="home-textout">
                                <p class="home-text">홈</p>
                            </div>
                            
                        </div>
                        <p class="group">내 모임</p>
                    </div>
                </div>
                
                <div class="header-r">
                    <img src="../images/ix_alarm-bell.svg" class="bell" alt="벨 아이콘">
                    <div class="login">
                        <img src="../images/bi_people-circle.svg" class="people" alt="사람 아이콘">
                        <div class="login-ch">
                            <p class="login-text">로그인</p>
                            <img src="../images/lucide_chevron-down.svg" class="chevron" alt="화살표 아이콘">
                        </div>
                </div>
                </div>
            </div>
            
            <div class="main">
                <div class="main-top">
                    <div class="main-top-frame">
                        <div class="page-description-frame">
                            <p class="page-description">모임 생성을 위해<br>간단한 정보를 입력해주세요</p>
                        </div>
                        <div class="form-group">
                            <div class="member-count-field">
                                <p class="member-count">인원수</p>
                                <input type="number" min="0" class="form-input member-count-input">
                            </div>
                            <div class="group-name-field">
                                <p class="group-name">모임 이름</p>
                                <input type="text" class="form-input group-name-input">
                            </div>
                        </div>
                        <div class="date-time-field">
                            <p class="date-time">모임 일시</p>
                            <div class="date-time-input-group">
                                <div class="calender-icon"></div>
                                <input type="date" class="form-input date-input">
                                <div class="clock-icon"></div>
                                <input type="time" class="form-input time-input">
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="main-bottom">
                    <div class="group-category-field">
                        <div class="group-category-text">
                            <div class="group-category-title-frame">
                                <p class="group-category-title">모임 카테고리</p>
                            </div>
                            <div class="group-category-description">
                                <div class="description-frame">
                                    <p class="description-text">(복수 선택 가능)</p>
                                </div>
                            </div>
                        </div>
                        <div class="group-checkbox">
                            <div class="group-checkbox-top">
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox-input">
                                    <div class="checkbox-icon"></div>
                                    <div class="text-frame">
                                        <p class="checkbox-text">회식</p>
                                    </div>
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox-input">
                                    <div class="checkbox-icon"></div>
                                    <div class="text-frame">
                                        <p class="checkbox-text">카페</p>
                                    </div>
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox-input">
                                    <div class="checkbox-icon"></div>
                                    <div class="text-frame">
                                        <p class="checkbox-text">운동</p>
                                    </div>
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox-input">
                                    <div class="checkbox-icon"></div>
                                    <div class="text-frame">
                                        <p class="checkbox-text">술/펍</p>
                                    </div>
                                </label>
                            </div>
                            <div class="group-checkbox-bottom">
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox-input">
                                    <div class="checkbox-icon"></div>
                                    <div class="text-frame">
                                        <p class="checkbox-text">데이트</p>
                                    </div>
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox-input">
                                    <div class="checkbox-icon"></div>
                                    <div class="text-frame">
                                        <p class="checkbox-text">놀거리</p>
                                    </div>
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox-input">
                                    <div class="checkbox-icon"></div>
                                    <div class="text-frame">
                                        <p class="checkbox-text">여행</p>
                                    </div>
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox-input">
                                    <div class="checkbox-icon"></div>
                                    <div class="text-frame">
                                        <p class="checkbox-text">기타</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <a href="thirdpage.html" class="group-create-btn">
                            <p class="group-create-text">그룹 만들기</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
